<%- include('./partials/header') %>

<form id="body" action="/user/login" method="POST">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input required type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <div class="row">
    <div class="form-group">
      <a href="/">Go Back</a>
    </div>
  </div>
  <div class="row">
      <div class="form-group">
        <a href='/forgot'>Forgot password?</a>
      </div>
  </div>
</form>

<%- include('./partials/footer') %>
