<%- include('./partials/header') %>

<form id="body" action="/user/login" method="POST">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input required type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <div class="row">
    <div class="form-group">
      <a href="/">Go Back</a>
    </div>
  </div>
  <div class="row">
      <div class="form-group">
        <a href='/forgot'>Forgot password?</a>
      </div>
  </div>
</form>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" 
        crossorigin="anonymous">
</script>
<Script>
  document.addEventListener( 'submit', ( e ) => {
  e.preventDefault();

  fetch( '/user/login', {
      method: 'POST',
      headers: {
          'Content-Type': 'application/json'
      },
      body: JSON.stringify( {
          email: document.querySelector( 'input[name="email"]' ).value,
          password: document.querySelector( 'input[name="password"]' ).value
      } )        
  } ).then( async res => {
      var data = await res.json();
      
      if ( data.hasOwnProperty( 'url' ) ) {
          window.location = data.url;
      }
  } ).catch(err => {
    console.log('Check if user blocked or password or email')
  });
} );
</Script>
</body>
</html>
