<%- include('./partials/header') %>
<div>
  <a href='/user/login'>Login</a> or <a href='/user/register'>Register</a>
</div>
<div>
  <a href='/user/forgot'>Forgot password?</a>
</div>
<%- include('./partials/footer') %>
