<%- include('./partials/header') %>
<div class="main">
  <div>
    <a href='/login'>Login</a> or <a href='/register'>Register</a>
  </div>
  <div>
    <a href='/forgot'>Forgot password?</a>
  </div>
</div>

<%- include('./partials/footer') %>
